<div class="wrapper tweet_wrapper">

  <div class="input">
    <%= form_for @input_tweet do |f| %>
      <div class="form-group">
        <%= f.text_area :content, class: 'form-control', rows: 3, value: '本文は140文字以内で投稿' %>
      </div>
      <div class="actions clearfix">
          <div class="alert">
              <% if flash[:alert] %>
                  <% flash[:alert].each do |message| %>
                  <p class="alert"><%= message %></p>
                  <% end %>
              <% end %>      
          </div>
        <div class="post">
          <%= f.submit '投稿', class: 'btn btn-primary' %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="tweet">
      <% if @search.present? %>
      <% @search_tweets.each do |t| %>
      <div class="per <%= 'mine' if t.user.id == current_user.id %>">
          <p class="icon">
            <% if t.user.image? %>
                <%= image_tag t.user.image.url %>
            <% else %>
                NO IMAGE
            <% end %>
            </p>
            <p class="tweetname">
                <%= link_to t.user.name, user_path(t.user.id) %>
            </p>
            <p class="tweetdate">
                <% if mytweet?(t) %>
                <%= link_to t.updated_at.strftime("%Y-%m-%d %H:%M:%S"),[:edit, t] %>
                <% else %>
                <%= link_to t.updated_at.strftime("%Y-%m-%d %H:%M:%S"), tweet_path(t.id) %>
                <% end %>
            </p>
            <p class="tweetcontent">
                <%= t.content %>
            </p>
      </div>
      <% end %>
      <%= paginate @search_tweets %>
      <% else %>
      <% @tweets.each do |t| %>
      <div class="per <%= 'mine' if t.user.id == current_user.id %>">
          <p class="icon">
            <% if t.user.image? %>
                <%= image_tag t.user.image.url %>
            <% else %>
                NO IMAGE
            <% end %>
            </p>
            <p class="tweetname">
                <%= link_to t.user.name, user_path(t.user.id) %>
            </p>
            <p class="tweetdate">
                <% if mytweet?(t) %>
                <%= link_to t.updated_at.strftime("%Y-%m-%d %H:%M:%S"),[:edit, t] %>
                <% else %>
                <%= link_to t.updated_at.strftime("%Y-%m-%d %H:%M:%S"), tweet_path(t.id) %>
                <% end %>
            </p>
            <p class="tweetcontent">
                <%= t.content %>
            </p>
      </div>
      <% end %>
      <%= paginate @tweets %>
      <% end %>
  </div>
</div>