<div class="wrapper tweet_wrapper">

  <div class="input">
    <%= form_for @input_tweet do |f| %>
      <div class="form-group">
        <%= f.text_area :content, class: 'form-control', rows: 3, value: '本文は140文字以内で投稿' %>
      </div>
      <div class="actions clearfix">
          <div class="alert">
              <% if flash[:alert] %>
                  <% flash[:alert].each do |message| %>
                  <p class="alert"><%= message %></p>
                  <% end %>
              <% end %>      
          </div>
        <div class="post">
          <%= f.submit '投稿', class: 'btn btn-primary' %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="tweet">
      <% @tweets.each do |t| %>
      <%= render 'tweets/tweet', t: t %>
      
      <% if mytweet?(t) %>
      <% elsif @reply_tweet %>
        <div class="input">
          <%= form_for @input_tweet do |f| %>
            <div class="form-group">
              <%= f.text_area :content, class: 'form-control', rows: 3, value: '本文は140文字以内で投稿' %>
            </div>
            <div class="actions clearfix">
                <div class="alert">
                    <% if flash[:alert] %>
                        <% flash[:alert].each do |message| %>
                        <p class="alert"><%= message %></p>
                        <% end %>
                    <% end %>      
                </div>
              <div class="post">
                <%= f.submit '投稿', class: 'btn btn-primary' %>
              </div>
            </div>
            <%= f.hidden_field :reply_tweet_id, value: @reply_tweet.id if @reply_tweet %>
          <% end %>
        </div>
        <% end %>
        <% end %>
      <%= paginate @tweets %>
  </div>
</div>