<div class="tweet">
      <div class="per <%= 'mine' if @tweet.user.id == current_user.id %>">
          <p class="icon">
            <% if @tweet.user.image? %>
                <%= image_tag @tweet.user.image.url %>
            <% else %>
                NO IMAGE
            <% end %>
            </p>
            <p class="tweetname">
                <%= @tweet.user.name %>
            </p>
            <p class="tweetdate">
                <% if mytweet?(@tweet) %>
                <%= link_to @tweet.updated_at.strftime("%Y-%m-%d %H:%M:%S"), [:edit,@tweet] %>
                <% else %>
                <%= link_to @tweet.updated_at.strftime("%Y-%m-%d %H:%M:%S"), @tweet %>
                <% end %>
            </p>
            <p class="tweetcontent">
                <%= @tweet.content %>
            </p>
      </div>
</div>